html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cesium-viewer-toolbar {
    left: 5px;
}

/* hide search */
.cesium-viewer-geocoderContainer{
    display: none;
}

#side-panel{
    position: absolute;
    z-index: 2000;
}

#navbar-open{
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2000;
}

#navbar-close-btn{
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2000;
}

#navbar-open button{
    color: white;
    border-color: white;
}

.navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    border-left: 2px solid #ccc;
    background-color: #f7f7f9;
    overflow-y: scroll;
    z-index: 1000;

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;

    @include media-breakpoint-up(xs) { width: 85%; } // Small
    @include media-breakpoint-up(sm) { width: 50%; } // Medium
    @include media-breakpoint-up(md) { width: 25%; } // Large
}

.navbar-side-item {
    padding: 1.5rem 0;
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.side-link {
    padding-left: 2rem;
}

.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.toolbar-left {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}

.cesium-navigation-help {
    left: 0px;
}

#draw-line {
    margin-left: 1em;
    margin-right: 1em;
}

#draw-line-chk{
    cursor: pointer;
}

#draw-line-text{
    font-size: small;
    font-weigh: bold;
}

#draw-line-details{
    font-size: small;
    display: none;
}


#draw-line-details .fa-trash{
    float: right;
    cursor: pointer;
}
