/************** map *****************/

html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cesium-viewer-toolbar {
    left: 5px;
}

/* hide search */
.cesium-viewer-geocoderContainer{
    display: none;
}

.cesium-navigation-help {
    left: 0px;
}

.toolbar-left {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}


/************** side panel *****************/

#side-panel{
    position: absolute;
    z-index: 2000;
}

#navbar-open{
    display: block;
    position: absolute;
    top: 0.2em;
    right: 1.8em;
    z-index: 2000;
}

#navbar-close-btn{
    display: block;
    position: absolute;
    top: 0.2em;
    right: 1em;
    z-index: 2000;
}

#navbar-open button{
    color: white;
    border-color: white;
}

.navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    border-left: 2px solid #ccc;
    background-color: #f7f7f9;
    overflow-y: scroll;
    z-index: 1000;

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;

    @include media-breakpoint-up(xs) { width: 85%; } // Small
    @include media-breakpoint-up(sm) { width: 50%; } // Medium
    @include media-breakpoint-up(md) { width: 25%; } // Large
}

#draw-line{
    padding-top: 1em;
    padding-bottom: 1em;
}
#available-tiles{
    background-color: black;
}

.side-link {
    padding-left: 2rem;
}

.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

#draw-line {
    margin-left: 1em;
    margin-right: 1em;
}

#draw-line-chk{
    cursor: pointer;
}

#draw-line-text{
    font-size: small;
    font-weigh: bold;
}

#draw-line-details{
    font-size: small;
    display: none;
}

#draw-line-details .fa-trash{
    float: right;
    cursor: pointer;
}

#available-tiles{
    color: white;
}

#available-tiles .thumb{
    border-bottom: white solid 1px;
    margin: 0.5em 0.2em 0 1em;
}

#available-tiles img{
    height: 228px;
    width: 232px;
    cursor: pointer;
}

.thumb-meta{
    font-size: x-small;
}

.thumb-meta th{
    border: none;
    padding: 0.1em;
}

.thumb-meta table{
    margin: 0;
}

.thumb-meta .collapsible{
    display: none;
}

.thumb-meta-more{
    position: relative;
    top: -1em;
    float: right;
    cursor: pointer;
    height: 0;
}


/************** server messages *****************/

#server-messages{
    position: absolute;
    display: none;
    bottom: 2em;
    left: 2em;
}

.close{
    margin-left: 1em;
}
